---
import PostList from "../../components/PostList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const categories = await getCollection("categorie");
  return categories
    .filter((categorie) => (categorie.slug as string) !== "uncategorized")
    .map((categorie) => ({
      params: { slug: categorie.slug },
      props: categorie,
    }));
}
type Props = CollectionEntry<"categorie">;

const categorie = Astro.props;
const { Content } = await categorie.render();

const posts = await getCollection("blog");
const categoriePosts = posts
  .filter((post) => post.data.draft === false)
  .filter((post) => post.data.categories.includes(categorie.slug))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

const title = categorie.data.title;
const description = `Todas las entradas sobre ${title}`;
---

<BaseLayout title={title} description={description}>
  <div class="container-custom py-8">
    <div class="main-content">
      <section>
        <h1 class="section-title text-3xl font-bold mb-4">{categorie.data.title}</h1>
        <div class="prose mb-8">
            <Content />
        </div>
        {categoriePosts.length === 0 && <p class="text-[var(--text-muted)]">Aún no hay entradas.</p>}
        {
          categoriePosts.length > 0 && (
            <>
              <h2 class="text-2xl font-bold mb-4">Entradas sobre {categorie.data.title.toLowerCase()}</h2>
              <PostList posts={categoriePosts} />
            </>
          )
        }
      </section>
    </div>
  </div>
</BaseLayout>